@font-face {
  font-family: "pre-bb";
  src: url("../src/assets/fonts/Pretendard-Black.otf");
}
@font-face {
  font-family: "pre-eb";
  src: url("../src/assets/fonts/Pretendard-ExtraBold.otf");
}
@font-face {
  font-family: "pre-b";
  src: url("../src/assets/fonts/Pretendard-Bold.otf");
}
@font-face {
  font-family: "pre-sb";
  src: url("../src/assets/fonts/Pretendard-SemiBold.otf");
}
@font-face {
  font-family: "pre-m";
  src: url("../src/assets/fonts/Pretendard-Medium.otf");
}
@font-face {
  font-family: "pre-r";
  src: url("../src/assets/fonts/Pretendard-Regular.otf");
}
@font-face {
  font-family: "pre-el";
  src: url("../src/assets/fonts/Pretendard-ExtraLight.otf");
}
@font-face {
  font-family: "pre-l";
  src: url("../src/assets/fonts/Pretendard-Light.otf");
}
@font-face {
  font-family: "pre-t";
  src: url("../src/assets/fonts/Pretendard-Thin.otf");
}

.font-pre-bb {
  font-family: "pre-bb";
}
.font-pre-eb {
  font-family: "pre-eb";
}
.font-pre-b {
  font-family: "pre-b";
}
.font-pre-sb {
  font-family: "pre-sb";
}
.font-pre-m {
  font-family: "pre-m";
}
.font-pre-r {
  font-family: "pre-r";
}
.font-pre-el {
  font-family: "pre-el";
}
.font-pre-l {
  font-family: "pre-l";
}
.font-pre-t {
  font-family: "pre-t";
}
